---
title: Welcome to Middleman
---
.ag-test
  %h2
    10-column
    %a{href: "http://oocss.org/grids_docs.html"} complex nested grid AG test
  .ag1
    %p
      %strong ag1
      2 of 10
  .ag2
    %p
      %strong ag2
      6 of 10
    .ag4
      %p
        %strong ag4
        3 of 6
    .ag5
      %p
        %strong ag5
        3 of 6 (omega)
    .ag6
      %p
        %strong ag6
        2 of 6
    .ag7
      %p
        %strong ag7
        4 of 6 (omega)
      .ag8
        %p
          %strong ag8
          2 of 4
      .ag9
        %p
          %strong ag9
          2 of 4 (omega)
      .ag10
        %p
          %strong ag10
          auto
  .ag3
    %p
      %strong ag3
      2 of 10 (omega)