---
title: BASIC
---
.page
  %header
    %p
      %strong
        header
  %nav
    %p
      %strong
        nav
      %br
      +span-columns(3,12)
  .content
    %p
      %strong
        content
      %br
      +span-columns(9 omega,12)
    .main
      %p
        %strong
          main
        %br
          +span-columns(6,9)
    .secondary
      %p
        %strong
          secondary
        %br
          +span-columns(3 omega,9)
  %footer
    %p
      footer
